p, h1, h2, h3, h4, h5, h6 {
    color: black;
    font-weight: 600;
}
.demo-btn {
    padding: 10px 18px;
    background: linear-gradient(106.32deg, #FF0000 18.25%, #FF3E1D 50.75%, #FF4133 71.16%);
    border-radius: 4px; 
    color: white;
    font-size: 13px;
}
.menu-item p{
    padding: 10px 18px;
}
.menu-item:hover p{
    background: #FF0000;
    border-radius: 4px;
    padding: 10px 18px;
    color: white;
}
.menue_active {
    background: #FF0000;
    border-radius: 4px;
    padding: 10px 18px;
    color: white;
}
.banner {
    position: relative;
}
.banner-right {
    position: absolute;
}
.book-btn {
    background: #FF0000;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 2% 4%;
    color: white;
    border: none;
    font-size: 100%;
}
.details-bg {
    padding: 10px;
    text-align: center;
    margin: 25px 0;
    width: 60px;
    height: 60px;
    opacity: 0.2;
    position: relative;
}
.fe-icon {
    position: absolute;
    top: 40%;
}
.check-plane {
    background: rgba(82, 67, 194, 0.103693);
    padding: 3px;
    color:'#5243C2';
}
.choose-btn {
    background: rgb(244, 150, 209, 0.103693);
    margin: 30px 0;
    padding: 10px 0;
    text-align: center;
    border-radius: 20px;
    color: rgb(244, 149, 209);
    font-size: 14px;
    font-weight: bold;
}
.plan-item-details {
    color:'#848199';
}
.plan-item {
    height: 480px;
}
.plan-item:hover {
    height: 480px;
    background: #5243C2;
    border-radius: 20px;
    color: white;
    box-shadow: 0px 42px 34px rgba(82, 67, 194, 0.295755);
    margin-top: -55px;
    transition: background .5s, margin-top 1s;
}
.plan-item:hover h1, .plan-item:hover h2, .plan-item:hover .plan-item-details, .plan-item:hover p{
    color: white;
}
.plan-item:hover .check-plane{
    color: white;
    background: rgba(236, 236, 248, 0.151);
    padding: 3px;
}
.plan-item:hover .choose-btn {
    background: #F496D1;
    margin: 30px 0;
    padding: 10px 0;
    text-align: center;
    border-radius: 20px;
    color: #5243C2;
    font-size: 14px;
    font-weight: 900;
}

.plan-active {
    height: 480px;
    background: #5243C2;
    border-radius: 20px;
    color: white;
    box-shadow: 0px 42px 34px rgba(82, 67, 194, 0.295755);
    margin-top: -55px;
    transition: background .5s, margin-top 1s;
}
.plan-active h1, .plan-active h2, .plan-active .plan-item-details, .plan-active p{
    color: white;
}
.plan-active .check-plane{
    color: white;
    background: rgba(236, 236, 248, 0.151);
    padding: 3px;
}
.plan-active .choose-btn {
    background: #F496D1;
    margin: 30px 0;
    padding: 10px 0;
    text-align: center;
    border-radius: 20px;
    color: #5243C2;
    font-size: 14px;
    font-weight: 900;
}

.testimony-img {
    width: 25%;
    border-radius: 30px;
}
.accordion-ques {
    background-color: white;
    padding: 20px 20px;
    display: flex;
    align-items: center;
}
.contact-input {
    border: none;
    background-color: white;
    margin-bottom: 25px;
}
.contact-submit {
    background: #FF0000;
    color: white;
}
.channel {
    color: #999999;
    padding: 10px 20px;
    border-right: 10px solid #F7F7F7;
    cursor: pointer;
}
.channel-active {
    color: #000000;
    padding: 10px 20px;
    border-right: 10px solid #FF0000;
    cursor: pointer;
    font-weight: bold;
}
.get-srt-btn {
    background-color: #FFB833;
    color: black;
    font-weight: bold;
    padding: 8px 15px;
    border: none;
}
.custom-swiper-class {
    display: flex !important; 
    justify-content: space-between !important;
}